@{
    ViewBag.Title = "AddServer";
    Layout = "~/Views/Shared/_BaseLayoutPage.cshtml";
}

<h2>AddServer</h2>
@model SQLInfo.Web.Models.DbServerModel
@using (Html.BeginForm("AddServer", "Home", FormMethod.Post))
{
    <table>
        <tr>
            <td>服务器:</td>
            <td>@Html.TextBoxFor(u => u.Server)</td>
            <td>@Html.ValidationMessageFor(u => u.Server)</td>
        </tr>
        <tr>
            <td>数据库类型:</td>
            <td>@Html.EnumDropDownListFor(u => u.DbType)</td>
            <td>@Html.ValidationMessageFor(u => u.DbType)</td>
        </tr>
        <tr>
            <td>用户名:</td>
            <td>@Html.TextBoxFor(u => u.Admin)</td>
            <td>@Html.ValidationMessageFor(u => u.Admin)</td>
        </tr>
        <tr>
            <td>密码:</td>
            <td>@Html.PasswordFor(u => u.Password)</td>
            <td>@Html.ValidationMessageFor(u => u.Password)</td>
        </tr>
        <tr>
            <td></td>
            <td>
                <input type="submit" value="添加" />
            </td>
            <td></td>
        </tr>
    </table>
}
